<!DOCTYPE html>
<html>
    <head>
        <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
        <title>{{brand.getName}}</title>
    </head>
    <body>
        <h1>{{brand.getName}}</h1>
        <div class="container">
        {% if stores_carried is not empty %}
        <p>Available in the following locations</p>
            <ul>
                {% for store in stores_carried %}
                    <li>{{store.getName}}</li>
                {% endfor %}
            </ul>
        {% else %}
        <p>Looks like no stores carry this brand yet.</p>
        {% endif %}
        {% if stores_all is not empty %}
        <p>Add a store</p>
            <form action="/brand/{{ brand. getId }}" method="post">
                <select name="store_name">
                    {% for store in stores_all %}
                        <option value= {{ store.getId }}> {{ store.getName }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-primary" name="button">Add this store</button>
            </form>
        {% else %}
        <p>Looks like there are no stores in the database, please go to the store page to add some</p>
        {% endif %}
        <a href="/brands"><button type="button" class="btn btn-primary" name="button">Brands Page</button></a>
        <br>
        <a href="/"><button type="button" class="btn btn-primary" name="button">Home Page</button></a>
        </div>
    </body>
</html>
