<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{brand.getName}}</title>
    </head>
    <body>
        <h1>{{brand.getName}}</h1>

        {% if stores_carried is not empty %}
            <ul>
                {% for store in stores_carried %}
                    <li>{{store.getName}}</li>
                {% endfor %}
            </ul>
        {% else %}
        <p>Looks like no stores carry this brand yet.</p>
        {% endif %}
        <p>Add a store</p>
            <form action="/brand/{{ brand. getId }}" method="post">
                <select name="store_name">
                    {% for store in stores_all %}
                        <option value= {{ store.getId }}> {{ store.getName }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="button">Add this store</button>
            </form>
        <a href="/brands"><button type="button" name="button">Brands Page</button></a>
        <a href="/"><button type="button" name="button">Home Page</button></a>
    </body>
</html>
